$red: #fe3737;
$white: #fff;

.appBar {
  background-color: #1b1b1b;
  animation: flash 1s infinite alternate;
	position: fixed;
	top: 0px;
	left: 0px;
	clear: both;
	width: 100%;
  height: 300px;
  padding: 80px;
  opacity: 1;

  svg {
    width: 300px;
    height: 300px;
    fill: $white;
    margin: 30px auto;
    text-align: center;
    animation: bounce 0.2s infinite alternate;
  	position: relative;
  }
}


h1 {
  text-align: center;
}

@keyframes flash {
  from {
    background-color: #6f0909;
  }
  to {
    background-color: #1b1b1b;
  }
}

@keyframes bounce {
  from {
    top: 0px;
  }
  to {
    top: -15px;
  }
}
